In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.DataFrame({
    'hours':[5,8,7,6,4.5,9.5,8,3.5,9,8,1,6],             # create hours and score columns
    'score':[54,25,47,20,82,61,75,88,11,12,50,36]
})

In [26]:
df.head()

   hours  score
0    5.0     54
1    8.0     25
2    7.0     47
3    6.0     20
4    4.5     82

In [28]:
y = np.array(df.score.values)     # actual values

In [30]:
y_pred = 8 * df.hours.values - 15

In [32]:
y

array([54, 25, 47, 20, 82, 61, 75, 88, 11, 12, 50, 36], dtype=int64)

In [34]:
y_pred

array([25., 49., 41., 33., 21., 61., 49., 13., 57., 49., -7., 33.])

##  Mean Absolute Value(MAE)

In [43]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y,y_pred)
print(f"mean absolute error: {mae}")

mean absolute error: 31.416666666666668

### Root Mean Squard Error(RMSE)

In [46]:
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(y,y_pred)
print(f"Root Mean Squard Error:{rmse}")

Root Mean Squard Error:39.14396505209967

### R squared

In [49]:
from sklearn.metrics import r2_score
r2 = r2_score(y,y_pred)
print(f"R squared: {r2}")

R squared: -1.3578366941300932